:root{
    --main-text-color:white;
    --secondary-text-color:#B3B3B3;
    --third-text-color: black;
    --logo-color:#E50914;
    --main-btn-color:#E50914;
    --secondary-btn-color:#F72D37;
    --main-color:black;
    --secondary-color:#181A1B;
    --third-color: #3D3D3D;
}