.addSerialOptions{
    display: block;
    *{
        width: 50%;
    }
    input{
        display:inherit;
        margin-bottom:10px
    }
    textarea{
        display:inherit;
        margin-bottom:10px;
        width: 90%;
        height: 200px;
    }
    select{
        display:inherit;
        margin-bottom:10px;
        option{
            color: black;
        }
    }
    button{
        display:inherit;
        margin-bottom:10px
    }
    .subscriptions{
        .subscription{
            input{
                width: unset;
            }
            *{
                display:inline-block;
            }
        }
    }
}