.main{
    margin-left: 8px;
    margin-right: 8px;
    overflow-y: auto;
    .delete{
        input, button{
            display: inline-block;
            margin-left: 10px;
        
        }
    }
    .arrow{
        display: inline-block;
        position: relative;
        background-image: url(../../../../assets/icons8-expand-arrow-50.png);
        background-size: cover;
        margin-left: 10px;
        bottom: 0;
        width: 1.5rem;
        height: 1.5rem;
    }
    .arrow:hover{
        cursor: pointer;
    }
    h2{
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    input, button, textarea, select {
        display: inline-block;
        border: none;
        border-radius: 5px;
        padding: 7px;
        color: black;
    }
    button:hover{
        cursor: pointer;
    }
    .separator{
        border: 1px solid white;
        margin-right: 10px;
    }

    .edit {
        .editMovie {
            input, button {
            }
        }
        .editSerial{
            input, button{
                display: inline-block;

            }
        }
        .editInput{
            margin-right: 10px;
            margin-left:10px;
        }
        .editButton{
            margin-right: 10px;
        }
    }
}