.card {
  background: #515151;
  border-radius: 1rem;
  margin-bottom: 0.2rem;

  p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    background: #555555;
    text-overflow: ellipsis;
    overflow: hidden;
    
    .buttons {
      display: flex;
      gap: 0.75em;
      
      img {
        cursor: pointer;
      }
    }
    &:hover {
      background: #616161;
    }
  }
  
  .content {
    padding: 1rem;
  }
}