.reviews-tab-wrapper {
  .rating {
    justify-self: center;
    flex: 1 0 auto;
    border-radius: 0.5em;
    font-weight: 900;
    font-size: 3em;
    max-width: 10em;
    max-height: 10em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .positive {
    background: #0cc000;
  }

  .negative {
    background: #c00c00;
  }

  .review-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 9px 1px;
    gap: 10px;
    flex-grow: 0;

    .content-name {
      font-weight: 900;
      font-size: 1.1em;
    }
    .review-name {
      font-weight: 500;
      font-size: 1.1em;
    }
    .date {
      font-weight: 400;
      font-size: 0.8em;
    }
  }
  
  .reviews-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 19px;
    gap: 0.25em;
    
    .review-block {
      width: 100%;
      
      .accordion-title {
        cursor: pointer;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 5fr 7fr;
        align-items: center;
        padding: 1em 1.5em;
        gap: 1em;
        
        background: #414141;
        border: 2px solid #414141;
        border-radius: 1.5em;

        &:hover {
          background-color: #676767;
        }

        .review-text-beginning {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    
    .review-block-opened {
      width: 100%;
      
      .accordion-title {
        cursor: pointer;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 12fr;

        align-items: center;
        padding: 1em 1.5em;
        gap: 1em;
        
        background: #414141;
        border: 2px solid #414141;
        border-radius: 1.5em;
        &:hover {
          background-color: #676767;
        }
      }
      .review-info {
        text-align: center;
      }
      .review-text {
        grid-column: span 2;
        font-size: 1.1em;
      }
    }
  }
  
  .accordion-item {
    background: #313131;
    border-radius: 1.5em;
  }
  
  .accordion-content {
    padding: 1.5em;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-direction: column;
    
    nav {
      margin-top: auto;
      justify-self: center;
      align-self: center;
    }
  }

  .MuiPaginationItem-ellipsis {
    color: white;
  }
  
  .search-filter-box {
    #search-form {
      padding: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    #search-input {
      all: unset;
      background: #414141;
      border: none;
      height: 2em;
      padding: 1em;
      border-radius: 0.5em;
      margin: 0 0.5em;
      width: 75%;
    }
    
    .MuiInputBase-root {
      span {
        color: white;
      }
    }
  }
  
  
}

.MuiSelect-select {
  background: #676767;
}