#notification-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    height: inherit;
}

#notification-panel-icon,
#notification-panel-icon-alarmed{
    height: 40px;
    width: 40px;
}
#notification-panel-icon,
#notification-panel-icon-alarmed:hover{
    cursor: pointer;
}