#selection-content-search-panel{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#selection-content-search-panel-search-icon{
    width: 32px;
    height: 32px;
    margin-left: 2px;
    margin-right: 4px;
    opacity: 80%;
}

#selection-content-search-panel-search-icon:hover{
    opacity: 100%;
}

#selection-content-search-panel-search-bar{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid;
    color: var(--main-text-color);
    letter-spacing: 1px;
    background-color: var(--secondary-color);
    font-size: 16px;
    font-weight: 100;
    font-family: "Helvetica", serif;
    border-radius: 12px;
    text-align: end;
    padding-right: 10px;
    margin-left: 4px;
    margin-right: 2px;
}

#selection-content-search-panel-search-bar::placeholder{
    color: var(--secondary-text-color);
}