.selection-content-filter-panel-type-name,
.selection-content-info-label{
    color: var(--main-text-color);
    font-size: 18px;
    font-family: "Helvetica", serif;
    font-weight: 100;
}

.selection-content-filter-panel-type-name{
    margin-left: 10px;
}

.selection-content-filter-panel-type-name-cb{
    height: 16px;
    width: 16px;
}