.addSerialOptions{
    display: block;
    *{
        width: 50%;
    }
    >input{
        display:inherit;
        margin-bottom:10px
    }
    >textarea{
        display:inherit;
        margin-bottom:10px;
        width: 70%;
        height: 200px;
    }
    >select{
        display:inherit;
        margin-bottom:10px;
    }
}