.addSerialOptions{
    display: block;
    .trash{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: url(../images/trash-can-svgrepo-com.svg);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    *{
        width: 50%;
    }
    input{
        display:inherit;
        margin-bottom:10px
    }
    textarea{
        display:inherit;
        margin-bottom:10px;
        width: 90%;
        height: 200px;
    }
    select{
        display:inherit;
        margin-bottom:10px;
    }
    button{
        display:inherit;
        margin-bottom:10px
    }
    .subscriptions{
        .subscription{
            input{
                width: unset;
            }
            *{
                display:inline-block;
            }
        }
    }
}